div.preview-photo h5 {
  margin: 15px;
}

div.preview-photo img {
  display: block;
  margin: 20px auto;
  width: 90px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

div.title-alert {
  margin-top: 10px;
}
