<div class="modal-header">
  <h4 class="modal-title">{{ book ? 'Edit Book:' : 'Add New Book'}}<span>{{ book ?  (book.name  | correctText) : ''}}</span></h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Title:</label>
      <input type="text" class="form-control" id="name"formControlName="name">
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" class="form-control" id="author"formControlName="author">
    </div>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-dd-mm"
               name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-addon" (click)="d.toggle()">
          <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="cover">Cover Photo Url:</label>
      <input type="text" class="form-control" id="cover"formControlName="coverPhoto">
    </div>
    <div class="preview-photo">
      <h5>Cover Photo Preview</h5>
      <img src="{{bookForm.value.coverPhoto}}" onerror="this.src='assets/no-image-book.png'" alt="">
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!bookForm.valid">Save</button>
    <div class="alert alert-danger title-alert" *ngIf="alertTitleExist">
      <strong>Title Exist!</strong>Please change title.
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>
