table.table th.column-title{
  font-size: 1.5em;
}

table.table th.column-title:last-of-type{
  text-align: center;
}

table.table img.cover-photo{
  width: 90px;
}

table.table button.edit {
  width: 100%;
}

button.add-btn {
  float: right;
}

button i.fa-plus {
  margin-left: 10px;
}

